<!DOCTYPE html>
<html ng-app="wall">
<head>
    <title>Common Wall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <style>
        body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
{% verbatim %}
<div class="container" ng-controller="PostsController">
    <h1 class="text-center text-success" style="margin-bottom: 40px"><strong>Common Wall</strong></h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Post new post!</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="message_content" ng-enter="send()">
                    <span class="input-group-btn">
                    <button class="btn btn-default btn-success" type="button" ng-click="send()">Go!</button>
                </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <blockquote ng-repeat="post in posts">
                <p>{{post.content}}</p>
                <small>{{ post.publication_date | date:'medium' }}</small>
            </blockquote>
        </div>
    </div>
</div>
{% endverbatim %}
<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/angular-resource.js"></script>
<script src="{{ STATIC_URL }}js/wall.js"></script>
</body>
</html>